/* PROJECT STYLES */
body {
    font-family: Arial;
    font-family: "Benton sans";
}

#wrapper {
    width: 540px;
    margin-right: auto;
    margin-left: auto;
}

.state-groups:hover {
    cursor: pointer;
    fill: #000;
}

rect {
    fill: #ddd;
}

text {
    fill: #000 !important;
}

.tooltip {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.dq1 {
    fill: #99D0E5;
}

.dq2 {
    fill: #79B0C5;
}

.dq3 {
    fill: #629ABB;
}

.dq4 {
    fill: #4B85B1;
}

.dq5 {
    fill: #356FA7;
}

.dq6 {
    fill: #1E5A9D;
}

.dq7 {
    color: white !important;
    fill: #084594;
}

.rq1 {
    fill: #C6A29E;
}

.rq2 {
    fill: #A7706B;
}

.rq3 {
    fill: #A45958;
}

.rq4 {
    fill: #A14345;
}

.rq5 {
    fill: #9E2C32;
}

.rq6 {
    fill: #9B161F;
}

.rq7 {
    color: white !important;
    fill: #99000d;
}

.none {
    cursor: default;
    fill: #ddd;
}

.none:hover {
    stroke: white;
}

#franken,
#mcfadden {
    color: blue;
    font-weight: 900;
}

.selected {
    color: #ffffff !important;
    text-decoration: none !important;
}

.legend label,
.legend span {
    color: #808080;
    display: block;
    float: left;
    font-size: 9px;
    height: 15px;
    text-align: center;
    width: 30px;
}

#legend-text {
    font-family: Popular, sans-serif;
    font-size: 16px;
}

#legend-text a {
    color: #0B478D;
}

#map,
#map2 {
    font-size: .75em;
}

nav.legend span {
    font-size: .85em;
    width: 35px;
}

#rleg {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Popular";
}

#dleg {
    display: block;
}

@media (max-width:539px) {
    #wrapper {
        width: 100%;
    }
}