/* PROJECT STYLES */
body,
p {
    margin: 0;
    padding: 0;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

a {
    color: steelblue;
}

#filter input:focus {
    width: 100% !important;
}

#filter input {
    width: 100% !important;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    border-radius: 0 !important;
}

.byline {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:0.6em;
    color: #888;
    padding-top:10px;
    padding-bottom:10px;
    text-align:left;
}

#chart .c3-line,
#chartUS .c3-line {
    stroke-width: 4px !important;
}

.chatter {
    padding-bottom: 10px;
}

.pctBox {
    display: inline-block;
    width: 32.5%;
    text-align: center;
}

.timestamp {
    font-size: .8em;
    text-align: center;
    color: #888;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left !important;
}

.source {
    padding-top: 10px;
    text-align: left !important;
    color: #888;
}

.source a {
    color: steelblue;
}

.cell a {
    color: #000;
}

.adjacent {
    width: 45%;
    display: inline-block;
    text-align: left;
}

.fBlock {
    width: 48%;
    display: inline-block;
    text-align: left;
}

.fNum {
    text-align: right;
}

.fTop {
    border-bottom: 1px solid #bbb;
    margin-bottom: 4px;
}

.filter {
    display: inline-block;
    width: 60px;
    margin: 12px;
    opacity: .5;
}

.filter:hover,
.selected3 {
    opacity: 1 !important;
    cursor: pointer;
    background-color: #fff !important;
    color: #000 !important;
}

.filter img {
    width: 100%;
}

.selected {
    margin: 0 !important;
}

.spread {
    font-weight: 900;
    text-align: right !important;
}

.tinycharts {
    display: inline-block;
    width: 49%;
}

.name,
.chartTitle,
.pollster,
.chatter {
    text-align: left !important;
}

.major {
    color: #fff !important;
}

.pollster-chart,
#chart,
#chartUS,
#chartFinance {
    width: 100%;
    height: 300px;
}

.republican {
    color: #8C1B17;
    fill: #8C1B17 !important;
    pointer-events: all;
    font-weight: bold;
}

.r1 {
    background-color: #C68985;
    fill: #C68985 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.r2 {
    background-color: #A5484D;
    fill: #A5484D !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.r3 {
    background-color: #A52129;
    fill: #A52129 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.r4 {
    background-color: #8C1B17;
    fill: #8C1B17 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.r0 {
    background-color: #8C1B17;
    fill: #8C1B17 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.mid {
    background-color: #bbb;
    fill: #bbb !important;
    color: black !important;
    pointer-events: all;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.blank {
    background-color: #fff;
    fill: #bbb !important;
    color: black !important;
    pointer-events: all;
    font-weight: bold;
}

.democrat {
    color: #3F88C5;
    fill: #3F88C5 !important;
    pointer-events: all;
    font-weight: bold;
}

.ind {
    color: #aaaaaa;
    fill: #aaaaaa !important;
    pointer-events: all;
    font-weight: bold;
}

.d1 {
    background-color: #ABCEE8;
    fill: #ABCEE8 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.d2 {
    background-color: #5ca5c3;
    fill: #5ca5c3 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.d3 {
    background-color: #4f97c4;
    fill: #4f97c4 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.d4 {
    background-color: #3f88c5;
    fill: #3f88c5 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.d0 {
    background-color: #3F88C5;
    fill: #3F88C5 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.text {
    fill: #ffffff !important;
}

h4 {
    color: #000;
    text-align: left;
}

.card {
    font-size: 0.8em;
}

.cell {
    display: inline-block;
    width: 10%;
    text-align: center;
    overflow-x: hidden;
    line-height:140% !important;
}

.first {
    text-align: left;
    overflow-x: hidden;
    white-space: nowrap;
    width: 20%;
}

.th {
    font-weight: 900;
    font-size: 0.8em;
}

.th:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

@media (max-width:800px) {
    .tinycharts {
        display: inline-block;
        width: 100%;
    }
    .pctBox {
        width: 32% !important;
    }
    .adjacent {
        width: 100%;
        padding-bottom: 10px;
    }
    #wrapper {
        width: 100%;
    }
    .card,
    .th {
        font-size: 0.7em;
        background-color: #fff;
    }
    .cell {
        width: 43% !important;
        overflow-x: hidden;
        white-space: nowrap;
    }
    .major,
    .keep {
        width: 16% !important;
    }
    .bigNum {
        font-size: 2.3em;
    }
    .kill {
        display: none !important;
    }
    .canLabel {
        font-size: 0.7em;
    }
    .pollster-chart,
    #chart {
        width: 100%;
        height: 250px;
    }
}