<!-- Screen reader announcements -->
<div aria-live="polite" id="announcer" class="sr-only"></div>

<!-- Skip to main content -->
<a href="#main-content" class="to-main-content">Skip to main content</a>

<!-- Main content here -->
<main id="main-content" class="content" role="main">
  <div class="container-lg" id="wrapper">

  <div id="topmenu">

<!-- <div class="chatter">Select race:</div> -->
<div id="districtSelect"></div>
<!-- <div id="districtList">
   <ul class="dropdown months" tabindex="1">
	    <li class="sort-link" id="senSelectD" filtered="all" magnify="mn" party="DFL" geo="all" race="sen"><div class="d4">&nbsp;DFL Senate Special</div></li>
	    <li class="sort-link" id="senSelectR" filtered="all" magnify="mn" party="GOP" geo="all" race="sen"><div class="r4">&nbsp;GOP Senate Special</div></li>
	    <li class="sort-link" id="govSelectD" filtered="all" magnify="mn" party="DFL" geo="all" race="gov"><div class="d4">&nbsp;DFL Governor</div></li>
	    <li class="sort-link" id="govSelectR" filtered="all" magnify="mn" party="GOP" geo="all" race="gov"><div class="r4">&nbsp;GOP Governor</div></li>
	    <li class="sort-link" id="agSelectD" filtered="all" magnify="mn" party="DFL" geo="all" race="ag"><div class="d4">&nbsp;DFL Attorney General</div></li>
	    <li class="sort-link" id="agSelectR" filtered="all" magnify="mn" party="GOP" geo="all" race="ag"><div class="r4">&nbsp;GOP Attorney General</div></li>
	    <li class="sort-link" id="cd1SelectD" filtered="CD1" magnify="mn" party="DFL" geo="all" race="1"><div class="d4">&nbsp;DFL District One</div></li>
	    <li class="sort-link" id="cd1SelectR" filtered="CD1" magnify="mn" party="GOP" geo="all" race="1"><div class="r4">&nbsp;GOP District One</div></li>
	    <li class="sort-link" id="cd5SelectD" filtered="CD5" magnify="metro" party="DFL" geo="all" race="5"><div class="d4">&nbsp;DFL District Five</div></li>
	    <li class="sort-link" id="cd5SelectR" filtered="CD5" magnify="metro" party="GOP" geo="all" race="5"><div class="r4">&nbsp;GOP District Five</div></li>
	    <li class="sort-link" id="cd8SelectD" filtered="CD8" magnify="mn" party="DFL" geo="all" race="8"><div class="d4">&nbsp;DFL District Eight</div></li>
	    <li class="sort-link" id="cd8SelectR" filtered="CD8" magnify="mn" party="GOP" geo="all" race="8"><div class="r4">&nbsp;GOP District Eight</div></li>
    </ul>
  </div> -->
 </div>

  	 <div class="slide" id="gov">
	     <div class="map" id="mapper">
	     	<div class="reset legendary gray4">&#x2715;</div>
	     	<svg width="520" height="600" viewBox="0 0 520 600" preserveAspectRatio="xMidYMid"></svg>
	     	<div class="key"></div>

	     </div>
 	</div>

  </div>
</main>