/* PROJECT STYLES */
#chart .c3-line,
#chartTrend .c3-line,
#chartMid .c3-line,
#chartHistory .c3-line {
    stroke-width: 5px !important;
}

#chartNational {
    height: 780px;
}

.map {
    display: inline-block;
    width: 32%;
    text-align: center;
}

.quantize {
    padding-left: 54px;
}

path:hover {
    cursor: default !important;
}

.hottest {
    fill: #a70518;
}


/*SWATCHES*/

.republican text {
    background-color: #bbb;
    fill: #8C1B17 !important;
    pointer-events: all;
    color: #8C1B17;
}

.republican line {
    background-color: #8C1B17;
    fill: #8C1B17 !important;
    stroke: #8C1B17 !important;
    pointer-events: all;
    color: #8C1B17;
}

.mid {
    background-color: #aaa;
    fill: #aaa !important;
    color: black !important;
    pointer-events: all;
    font-weight: bold;
}

.democrat text {
    background-color: #3F88C5;
    fill: #3F88C5 !important;
    pointer-events: all;
    color: #3F88C5;
}

.democrat line {
    background-color: #3F88C5;
    fill: #3F88C5 !important;
    stroke: #3F88C5 !important;
    pointer-events: all;
    color: #3F88C5;
}


/*
    .chart { display:none; }*/

@media (max-width:920px) {
    .map {
        display: block;
        width: 100%;
        text-align: center;
    }
    .quantize {
        padding-left: 72px;
    }
}