// from index.html file

// #wrapper {
//         margin-right:auto;
//         margin-left:auto;
//         max-width:800px;
//     }

    // .chart svg {
    //     text-align:center;
    //     height:380px !important;
    //     max-height:380px !important;
    // }

    // .chart {
    //     text-align:center;
    //     height:380px !important;
    //     margin-left: auto;
    //     margin-right: auto;
    //     max-height:380px !important;
    // }

//     .powerline {
//         stroke-dasharray: 5, 5;
//         stroke: #333;
//     }

//     .chart .c3-line {
//       stroke-width: 6px !important;
//     }

//     .dataframe { 
//         height:2950px;
//     } 

//     #bigResults {
//         text-align: center;
//         width: 100%;
//         margin: 20px;
//     }

//     .result {
//         display: inline-block !important;
//         text-align: center;
//         margin: 20px;
//         width: 112px;
//     }

//     .bigNum {
//         font-size: 3em;
//         font-family: "Benton Sans" !important;
//         text-align: center;
//         font-weight: 900;
//         padding-top: 15px;
//         padding-left: 15px;
//         padding-right: 15px;
//         padding-bottom: 5px;
//     }

//     .forNum {
//         color: #00222D;
//     }

//     .againstNum {
//         color: rgb(115, 115, 115);
//     }

//     .downloadButton9 {
//         font-family: "Benton Sans",Helvetica,Arial,sans-serif;
//         font-weight: bold;
//         color: #333333;
//         border: none;
//         font-size: .9em;
//         text-align: center;
//         margin-top: 14px;
//         margin-left: 1%;
//         padding-top: 0px;
//         width: 99%;
//         background-color: #fff;
//         color: #333;
// /*      background-image: url(./builds/development/img/downloadDoc.svg);*/
//         background-size: 18px 18px;
//         background-repeat: no-repeat;
//         background-position: 42% 76%;
//     }

//     .downloadButton9:hover {
//         background-color: #fff !important;
//         opacity: .5;
//         cursor: pointer;
//     }

//     #selector { 
//         display:block !important ;
//     }

    @media (max-width:520px) {
        #wrapper {
            width:100%;
        }
    }

    @media only screen and (min-width: 200px) and (max-width: 767px) { 
        .dataframe { 
            height:2950px; 
        }
    }

    /*COLOR LEGENDS*/

.legend label,
.legend span {
    display: block;
    float: left;
    height: 15px;
    width: 35px;
    text-align: center;
    font-size: 12px;
    color: #808080;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}


/*SEARCH BOX FILTERS*/

#filter {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-size: .9em;
    width: 100% !important;
}

#filter input {
    width: 100% !important;
    padding: 0 10px 0 10px;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    border-radius: 5px !important;
    margin: 0;
    width: 100%;
    height: 30px;
    line-height: 120%;
    font-size: 1em;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    background-color: #fff !important;
    font-family: inherit;
    border: 1px solid #eee !important;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

#filter input:focus {
    width: 100% !important;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    box-shadow: 0 0 5px #999;
    padding: 1px 10px 1px 10px;
    border: 1px solid #61bd1a;
}


/*VARIOUS TITLES AND CHATTER*/

.chartTitle {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    font-weight: 900;
    margin-top: 15px;
    font-size: 1.2em;
}

.chatter {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    font-size: .9em;
    margin-top: 5px;
}

p {
    font-family: "Poynter Serif RE", Georgia, Times, serif;
    font-size: 15px;
    line-height: 140%;
    margin-bottom: 14px;
    letter-spacing: -0.3px;
}

.demographic {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    font-size: .9em;
}

.source {
    font-size: .5em;
    color: #ccc;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}


/*HIGHLIGHTED NUMBERS*/

.num {
    font-family: "Popular", Helvetica, Arial, sans-serif;
    font-weight: 900;
}

.bigNum {
    font-family: "Popular", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 3.5em;
}


/*BOOTSTRAP BUTTON CHECKBOX STYLES*/

.btn-group {
    margin-left: 0;
    width: 100%;
    text-align: center;
}

.btn-primary {
    width: 19.6%;
    text-align: center;
    background-color: #333;
    border: 0;
    border-radius: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    font-weight: 900;
    moz-border-radius: 0;
    padding: 13px 26px;
    text-decoration: none;
    webkit-border-radius: 0;
}

.btn-primary input[type=checkbox] {
    border: none;
    display: none !important;
}

.btn-primary:hover {
    background-color: #5cbf2a;
}

.active {
    background-color: #5cbf2a;
}


/*D3 SLIDER STYLES*/

#sliderDiv {
    height: 20px;
    padding: 15px;
}

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #ddd !important;
    border-radius: 0;
    background: #ddd !important;
    z-index: 3;
}

.d3-slider-handle:hover {
    background: #333 !important;
    cursor: pointer;
}


/*D3 MAP STYLES*/

.background {
    fill: none;
    pointer-events: all;
}

.states {
    fill: #aaa;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.tooltip {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    background-color: white;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 0;
    border: 1px solid black;
    font-size: 13px;
    font-family: Arial;
}

.states .active {
    fill: #333 !important;
    fill-opacity: 1 !important;
}

.faded {
    fill-opacity: 0.5 !important;
}

.states path:hover {
    fill: #333 !important;
    cursor: pointer;
}


/*C3 TOOLTIPS*/

th,
text {
    color: #000 !important;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-size: 11px;
}

.tips th {
    background-color: #fff !important;
}

.tips {
    border: none !important;
}

.value {
    color: #000 !important;
    font-family: "Popular", Helvetica, Arial, sans-serif;
    font-weight: 900;
}

.name {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}


/*NVD3 STYLES*/

.nvd3 .nv-x .nv-axis .tick line,
.nvd3 .nv-y .nv-axis .tick line {
    fill: none;
    display: none !important;
    stroke: #fff;
    shape-rendering: crispEdges;
    opacity: 0 !important;
}

.nvtooltip {
    border-radius: 0 !important;
    background-color: #fff;
    border-color: #000;
}

text {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
}

.nv-axisMaxMin {
    font-family: "Popular", Helvetica, Arial, sans-serif !important;
}


/*NAV BUTTONS*/

.myButtonNav {
    background-color: #ddd;
    border: 0;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    display: block;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 900;
    moz-border-radius: 0;
    padding: 6px;
    text-decoration: none;
    webkit-border-radius: 0;
    width: 100%;
    margin: 5px;
}

.myButtonNav:hover {
    background-color: #378f00 !important;
}

.myButtonNav:active {
    background-color: #5cbf2a;
}


/*STANDARD TOGGLE BUTTONS*/

.myButton {
    background-color: #61bd1a;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #000;
    font-family: arial;
    font-size: 1em;
    padding: 13px 26px;
    text-decoration: none;
    font-weight: 900;
}

.myButton:active {
    background-color: #5cbf2a;
}

.myButton:hover {
    background-color: #5cbf2a !important;
}

.myButton2 {
    background-color: #61bd1a;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #000;
    font-family: arial;
    font-size: 1em;
    padding: 13px 26px;
    text-decoration: none;
    font-weight: 900;
}

.myButton2:active {
    background-color: #5cbf2a;
}

.myButton2:hover {
    background-color: #5cbf2a !important;
}

.myButton3 {
    background-color: #61bd1a;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #000;
    font-family: arial;
    font-size: 1em;
    padding: 13px 26px;
    text-decoration: none;
    font-weight: 900;
}

.myButton3:active {
    background-color: #5cbf2a;
}

.myButton3:hover {
    background-color: #5cbf2a !important;
}

.myButton4 {
    background-color: #61bd1a;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #000;
    font-family: arial;
    font-size: 1em;
    padding: 13px 26px;
    text-decoration: none;
    font-weight: 900;
}

.myButton4:active {
    background-color: #5cbf2a;
}

.myButton4:hover {
    background-color: #5cbf2a !important;
}

.myButton5 {
    background-color: #61bd1a;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #000;
    font-family: arial;
    font-size: 1em;
    padding: 13px 26px;
    text-decoration: none;
    font-weight: 900;
}

.myButton5:active {
    background-color: #5cbf2a;
}

.myButton5:hover {
    background-color: #5cbf2a !important;
}

.switch {
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 127px;
    background-color: #fff;
    font-weight: 900;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    border: 1px solid black;
    margin-top: 4px;
}

.switch:hover,
.selected {
    background-color: #333 !important;
    color: #fff !important;
    cursor: pointer;
    margin-bottom: 4px;
}


/*SECONDARY TOGGLE BUTTONS*/

.myButton_ {
    background-color: #8B2219;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    font-weight: 900;
}

.myButton_:active {
    background-color: #ad645e;
}


/*KILL BUTTON FOCUS BORDER*/

button:focus {
    outline: 0 !important;
}

:focus {
    outline: 0;
}


/*BREAKER*/

.breaker {
    clear: both;
    margin: 7px;
    padding: 10px;
}


/*RESET BUTTON*/

.zoom {
    text-decoration: none;
    font-weight: normal !important;
    color: steelblue;
    float: right !important;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
}

.zoom:hover {
    cursor: pointer;
}


/*CONTENT WRAPPER*/

#wrapper {
    margin-right:auto;
    margin-left:auto;
    width: 98%;
    max-width:800px;
}


/*DATATABLE STYLES*/

tr.odd td.sorting_1 {
    background-color: #efefef;
}

tr.even td.sorting_1 {
    background-color: #efefef;
}

tr.even {
    background-color: #fff !important;
}

tr.odd {
    background-color: #fff !important;
}

.dataTables_length {
    display: none;
}

.dataTable {
    margin-bottom: 18px;
}

.dataTables_wrapper .dataTables_paginate {
    text-align: center;
}

.dataTables_length,
.dataTables_info {
    display: none;
}

.dataTables_info {
    display: none;
}

.dataTables_scrollHead {
    display: none;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
}

input {
    margin-left: 0 !important;
    margin: 0;
    width: 100%;
    height: 30px;
    line-height: 120%;
    font-size: 1em;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    background-color: #fff !important;
    font-family: inherit;
    border: 1px solid #ddd !important;
}

#events_filter {
    width: 100%;
    height: 50px;
}

input:focus {
    outline: 0 !important;
}

input:focus {
    box-shadow: 0 0 5px #61bd1a;
    padding: 3px 0px 3px 3px;
    border: 1px solid #61bd1a;
}



table.dataTable.no-footer {
    margin-bottom: 0 !important;
}



.dataTables_scrollBody thead {
    visibility: hidden;
    height: 0 !important;
}

th.sorting_asc,
th.sorting_desc {
    background: #333 !important;
    font-weight: bold;
    color: #fff !important;
}

th {
    display: table-cell;
    vertical-align: initial;
}



table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    height: 20px;
    width: 20px;
    display: block;
    color: white;
    border: 2px solid white;
    position: static !important;
    border-radius: 16px;
    text-align: center;
    line-height: 20px;
    box-shadow: 0 0 0 #444;
    box-sizing: content-box;
    content: '';
    float: left;
    font-weight: bold;
    margin-right: 6px;
    background-color: #61bd1a;
    font-size: 16px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #ddd !important;
}

.paginate_button:hover {
    background: #333 !important;
    color: #fff !important;
    cursor: pointer !important;
}

.dataTables_paginate {
    text-align: center !important;
    width: 100%;
}

.paginate_button {
    font-family: "Popular", Helvetica, Arial, sans-serif;
}

.dataTable {
    min-height: 500px;
}


/*FANCY DROPDOWNS*/

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    moz-box-sizing: border-box;
    padding: 0;
    webkit-box-sizing: border-box;
}

::-moz-selection {
    background: transparent;
}

.wrapper-demo {
    font-weight: 400;
    zoom: 1;
    z-index: 999;
    display: inline-block;
    width: 100%;
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}

.wrapper-dropdown-1 {
    display: inline-block;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    z-index: 900;
    background: #ddd;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 8px;
    position: relative;
    width: 200px;
    border: 1px solid #aaa;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    width: 100%;
}

.wrapper-dropdown-1:after {
    border-color: transparent #333;
    border-style: solid;
    border-width: 6px 0 6px 6px;
    content: "";
    height: 0;
    margin-top: -6px;
    position: absolute;
    right: 16px;
    top: 50%;
    width: 0;
}

.wrapper-dropdown-1 .dropdown {
    font-weight: normal;
    left: 0;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid #aaa;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    margin-top: 0px !important;
}

.wrapper-dropdown-1 .dropdown li a {
    color: #9e9e9e;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.wrapper-dropdown-1 .dropdown li:hover a {
    background: #ddd;
}

.wrapper-dropdown-1 .dropdown {
    font-weight: normal;
    left: 0;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid #aaa;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    margin-top: 0px !important;
}

.wrapper-dropdown-1 .dropdown li:hover a {
    background: #EFEFEF;
}

.wrapper-dropdown-1.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.wrapper-dropdown-1.active:after {
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    margin-top: -3px;
}

.wrapper-dropdown-1.active {
    background: #ddd;
    background: linear-gradient(to right, #dddddd 0%, #dddddd 78%, #ffffff 78%, #ffffff 100%);
    background: -moz-linear-gradient(left, #9bc7de 0%, #9bc7de 78%, #ffffff 78%, #ffffff 100%);
    background: -ms-linear-gradient(left, #ddd 0%, #ddd 78%, #ffffff 78%, #ffffff 100%);
    background: -o-linear-gradient(left, #ddd 0%, #ddd 78%, #ffffff 78%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ddd), color-stop(78%, #ddd), color-stop(78%, #ffffff), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(left, #ddd 0%, #ddd 78%, #ffffff 78%, #ffffff 100%);
}

ul.dropdown.months {
    box-sizing: border-box;
    margin: 0;
    moz-box-sizing: border-box;
    padding: 0;
    webkit-box-sizing: border-box;
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}

.no-opacity .wrapper-dropdown-1 .dropdown,
.no-pointerevents .wrapper-dropdown-1 .dropdown {
    display: none;
    opacity: 1;
    pointer-events: auto;
}

.no-opacity .wrapper-dropdown-1.active .dropdown,
.no-pointerevents .wrapper-dropdown-1.active .dropdown {
    display: block;
}

header[role="banner"] {
    width: 100%;
    height: 40px;
    z-index: 1000;
    background: #f0f0f0;
}


/*DOWNLOAD BUTTON STYLES*/

.downloadButton {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333333;
    border: none;
    font-size: .9em;
    text-align: center;
    margin-top: 15px;
    margin-left: 1%;
    padding-top: 10px;
    width: 99%;
    background-color: #fff;
    color: #333;
    border-top: 1px solid #ccc;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 2% 50%;
}

.downloadButton:hover {
    background-color: #fff !important;
    opacity: .5;
    cursor: pointer;
}

.downloadButton:active {
    background-color: #fff !important;
}


/*MAPBOX STYLES*/

.mapbox-logo,
.leaflet-control-attribution {
    display: none !important;
}

.map-legend .swatch {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

.leaflet-popup-close-button {
    display: none !important;
}

.leaflet-popup-content-wrapper {
    pointer-events: none;
}

.leaflet-tile-pane {
    opacity: .5;
}

.leaflet-popup {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}


/*DATADROP WRAPPER STYLES*/

.chartHeader {
    padding: 12px;
    height: auto;
}

.chartFooter {
    padding: 12px;
    height: auto;
}

.sources {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
    float: left;
    height: inherit;
}

.branding {
    font-weight: 900;
    float: right;
    height: inherit;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
}

.branding a {
    color: #333;
}

.branding a:hover {
    opacity: .5;
}

@media (max-width: 600px) {
    .sources,
    .branding {
        width: 100%;
        float: none;
    }
}


/*DEMOCRATIC PARTY QUANTILE*/

.dq1 {
    fill: #99D0E5;
    background-color: #99D0E5;
}

.dq2 {
    fill: #79B0C5;
    background-color: #79B0C5;
}

.dq3 {
    fill: #629ABB;
    background-color: #629ABB;
}

.dq4 {
    fill: #4B85B1;
    background-color: #4B85B1;
}

.dq5 {
    fill: #356FA7;
    background-color: #356FA7;
}

.dq6 {
    fill: #1E5A9D;
    background-color: #1E5A9D;
}


/*REPUBLICAN PARTY QUANTILE*/

.rq1 {
    fill: #C6A29E;
    background-color: #C6A29E;
}

.rq2 {
    fill: #A7706B;
    background-color: #A7706B;
}

.rq3 {
    fill: #A45958;
    background-color: #A45958;
}

.rq4 {
    fill: #A14345;
    background-color: #A14345;
}

.rq5 {
    fill: #9E2C32;
    background-color: #9E2C32;
}

.rq6 {
    fill: #9B161F;
    background-color: #9B161F;
}


/*GREEN MAP QUANTILE*/

.mq1 {
    fill: #74C476;
    background-color: #74C476;
}

.mq2 {
    fill: #49ab4b;
    background-color: #49ab4b;
}

.mq3 {
    fill: #347c36;
    background-color: #347c36;
}

.mq4 {
    fill: #204c21;
    background-color: #204c21;
}

.mq5 {
    fill: #1E5A9D;
    background-color: #163417;
}


/*HIGHLIGHT background-color SWATCHES*/

.b_swatch {
    background-color: #1F6D6D;
    font-weight: 900;
}

.r_swatch {
    background-color: #B53434;
    font-weight: 900;
}

.o_swatch {
    background-color: #B56E34;
    font-weight: 900;
}

.g_swatch {
    background-color: #299129;
    font-weight: 900;
}


/*CATEGORICAL CHARTS*/

.leaf {
    fill: #66AF50;
    background-color: #66AF50;
}

.clay {
    fill: #BF603C;
    background-color: #BF603C;
}

.swedish {
    fill: #59A897;
    background-color: #59A897;
}

.bark {
    fill: #4C4C39;
    background-color: #4C4C39;
}


/*RED SHADED RAMP*/

.red1 {
    fill: #F2AC93;
    background-color: #F2AC93;
}

.red2 {
    fill: #F28670;
    background-color: #F28670;
}

.red3 {
    fill: #F2614C;
    background-color: #F2614C;
}

.red4 {
    fill: #C22A22;
    background-color: #C22A22;
}

.red5 {
    fill: #9C0004;
    background-color: #9C0004;
}


/*ORANGE SHADED RAMP*/

.orange1 {
    fill: #F2D2A4;
    background-color: #F2D2A4;
}

.orange2 {
    fill: #F2AF80;
    background-color: #F2AF80;
}

.orange3 {
    fill: #E07242;
    background-color: #E07242;
}

.orange4 {
    fill: #C2421F;
    background-color: #C2421F;
}

.orange5 {
    fill: #822010;
    background-color: #822010;
}


/*BLUE SHADED RAMP*/

.blue1 {
    fill: #D1E6E1;
    background-color: #D1E6E1;
}

.blue2 {
    fill: #A7E6E3;
    background-color: #A7E6E3;
}

.blue3 {
    fill: #67B4C2;
    background-color: #67B4C2;
}

.blue4 {
    fill: #3580A3;
    background-color: #3580A3;
}

.blue5 {
    fill: #0D4673;
    background-color: #0D4673;
}


/*GREEN SHADED RAMP*/

.green1 {
    fill: #C7E5B5;
    background-color: #C7E5B5;
}

.green2 {
    fill: #9EE384;
    background-color: #9EE384;
}

.green3 {
    fill: #5BBF48;
    background-color: #5BBF48;
}

.green4 {
    fill: #299E3D;
    background-color: #299E3D;
}

.green5 {
    fill: #118241;
    background-color: #118241;
}


/*GREY SHADED RAMP*/

.gray1 {
    fill: #ddd;
    background-color: #ddd;
}

.gray2 {
    fill: #CCC;
    background-color: #CCC;
}

.gray3 {
    fill: #969696;
    background-color: #969696;
}

.gray4 {
    fill: #636363;
    background-color: #636363;
    color: #fff;
}

.gray5 {
    fill: #252525;
    background-color: #252525;
    color: #fff;
}


/*BLUE-GREY SHADED RAMP*/

.grayblue1 {
    fill: #DAE1E7;
    background-color: #DAE1E7;
}

.grayblue2 {
    fill: #C6D1D9;
    background-color: #C6D1D9;
}

.grayblue3 {
    fill: #A8B9C5;
    background-color: #A8B9C5;
}

.grayblue4 {
    fill: #7F98AA;
    background-color: #7F98AA;
}

.grayblue5 {
    fill: #556E7F;
    background-color: #556E7F;
}

.grayblue6 {
    fill: #2C3942;
    background-color: #2C3942;
}


/*PURPLE SHADED RAMP*/

.purple5 {
    fill: #4c1926;
    background-color: #4c1926;
    color: #ffffff;
}

.purple4 {
    fill: #693c46;
    background-color: #693c46;
    color: #ffffff;
}

.purple3 {
    fill: #865f67;
    background-color: #865f67;
    color: #ffffff;
}

.purple2 {
    fill: #a3858b;
    background-color: #a3858b;
    color: #ffffff;
}

.purple1 {
    fill: #C1ACB1;
    background-color: #C1ACB1;
}


/*POLITICAL SHADED RAMP*/

.gopDark {
    fill: #9C0004;
    background-color: #9C0004;
}

.gopLight {
    fill: #F2614C;
    background-color: #F2614C;
}

.neutral {
    fill: #F7F7F7;
    background-color: #F7F7F7;
}

.dflLight {
    fill: #67B4C2;
    background-color: #67B4C2;
}

.dflDark {
    fill: #0D4673;
    background-color: #0D4673;
}

.republican {
    fill: #8C1B17 !important;
    pointer-events: all;
    font-weight: bold;
    color: #fff;
}

.rlikely {
    background-color: #A5484D;
    fill: #A5484D !important;
    pointer-events: all;
    font-weight: bold;
}

.rlean {
    background-color: #f7816E;
    fill: #f7816E !important;
    pointer-events: all;
    font-weight: bold;
}

.r1 {
    background-color: #C68985;
    fill: #C68985 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
}

.r2 {
    background-color: #A5484D;
    fill: #A5484D !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
}

.r3 {
    background-color: #A52129;
    fill: #A52129 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
}

.r4 {
    background-color: #8C1B17;
    fill: #8C1B17 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
}

.r0 {
    background-color: #8C1B17;
    fill: #8C1B17 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
}

.gray3 {
    color: white !important;
    pointer-events: all;
    font-weight: bold;
}

.mid {
    background-color: #aaa;
    fill: #aaa !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
}

.democrat {
    fill: #3F88C5 !important;
    pointer-events: all;
    font-weight: bold;
    color: #fff;
}

.dlikely {
    background-color: #5ca5c3;
    fill: #5ca5c3 !important;
    pointer-events: all;
    font-weight: bold;
}

.dlean {
    background-color: #72A9D6;
    fill: #72A9D6 !important;
    pointer-events: all;
    font-weight: bold;
}

.d1 {
    background-color: #ABCEE8;
    fill: #ABCEE8 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
}

.d2 {
    background-color: #5ca5c3;
    fill: #5ca5c3 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
}

.d3 {
    background-color: #4f97c4;
    fill: #4f97c4 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
}

.d4 {
    background-color: #3f88c5;
    fill: #3f88c5 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
}

.d0 {
    background-color: #3F88C5;
    fill: #3F88C5 !important;
    color: white !important;
    pointer-events: all;
    font-weight: bold;
}


/*BLIND SAFE DIVERGENCE RAMP*/

.negDark {
    fill: #271D42;
    background-color: #271D42;
    color: #fff;
}

.negMid {
    fill: #61538F;
    background-color: #61538F;
    color: #fff;
}

.negLight {
    fill: #AFA8C9;
    background-color: #AFA8C9;
}

.neutral {
    fill: #ddd;
    background-color: #ddd;
}

.posLight {
    fill: #82D870;
    background-color: #82D870;
}

.posMid {
    fill: #3FAA29;
    background-color: #3FAA29;
    color: #fff;
}

.posDark {
    fill: #118241;
    background-color: #118241;
    color: #fff;
}

body {
    overflow-x: hidden;
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
}

a,
a:hover,
a:active,
a:visited {
    color: #000;
}

.breaker {
    clear: both;
    margin: 30px;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

.sliderDiv {
    height: 20px;
    padding: 15px;
    margin-top: 15px;
}

#yearChatter {
    height: 90px;
    margin-bottom: 8px;
}

#barChart {
    width: 100%;
    text-align: center;
}

.header {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.column {
    display: inline-block;
    width: 30%;
    text-align: center;
    height: 350px;
}

.footer {
    display: inline-block;
    width: 30%;
    text-align: center;
}

#gopBar {
    background-color: #7F1313;
    height: 350px;
}

#dflBar {
    background-color: #3A7D7D;
    height: 350px;
}

.bigNum {
    font-family: "Popular", Helvetica, Arial, sans-serif;
    font-weight: 900;
}

.title {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: "Popular", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}



tr.odd td.sorting_1 {
    background-color: #efefef;
}

tr.even td.sorting_1 {
    background-color: #efefef;
}

tr.even {
    background-color: #fff !important;
}

tr.odd {
    background-color: #fff !important;
}

.dataTables_length {
    display: none;
}

.dataTable {
    margin-bottom: 18px;
}

.dataTables_filter {
    margin: 10px;
    visibility: hidden;
}

.dataTables_length,
.dataTables_info {
    display: none;
}

.dataTables_info {
    display: none;
}

th {
    background: #ccc !important;
}

table.dataTable.no-footer {
    margin-bottom: 0 !important;
}



.dataTables_scrollBody thead {
    visibility: hidden;
    height: 0 !important;
}

th.sorting_asc,
th.sorting_desc {
    background: #333 !important;
    font-weight: bold;
    color: #fff;
}

th {
    display: table-cell;
    vertical-align: initial;
}



tr.odd td.sorting_1 {
    background-color: #efefef;
}

tr.even td.sorting_1 {
    background-color: #efefef;
}

tr.even {
    background-color: #fff !important;
}

tr.odd {
    background-color: #fff !important;
}

.dataTables_length {
    display: none;
}

.dataTable {
    margin-bottom: 18px;
}

.dataTables_wrapper .dataTables_paginate {
    text-align: center;
}

.dataTables_length,
.dataTables_info {
    display: none;
}

.dataTables_info {
    display: none;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
}

#events_filter input {
    margin: 0;
    width: 100%;
    height: 30px;
    line-height: 120%;
    font-size: 1em;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    background-color: #fff !important;
    font-family: inherit;
    border: 1px solid #ddd !important;
}

#events_filter {
    width: 100%;
    height: 50px;
}

input:focus {
    outline: 0 !important;
}

#events_filter input:focus {
    box-shadow: 0 0 5px #61bd1a;
    padding: 3px 0px 3px 3px;
    border: 1px solid #61bd1a;
}


.table {
    display:none;
    width:100%;
    table{ width:600px;max-width:600px;margin: 0 auto;}
    td {
        width:80px!important;
        padding: 8.88px !important;
        font-family: Arial;
        font-size: 14px !important;
        text-align:center;
        &:nth-child(1){
            width:100%;
            text-align:left;
        }
    }

    th {
        text-align:center;
        width:80px!important;
        background: #ccc !important;
        font-size: 14px;
        font-family: Popular;
         &:nth-child(1){
            width:100%;
            text-align:left;
        }
    }
}


table.dataTable.no-footer {
    margin-bottom: 0 !important;
}


.dataTables_scrollBody thead {
    visibility: hidden;
    height: 0 !important;
}

th.sorting_asc,
th.sorting_desc {
    background: #333 !important;
    font-weight: bold;
    color: #fff;
}

th {
    display: table-cell;
    vertical-align: initial;
}

th {
    padding: 5px !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    height: 20px;
    width: 20px;
    display: block;
    color: white;
    border: 2px solid white;
    position: static !important;
    border-radius: 16px;
    text-align: center;
    line-height: 20px;
    box-shadow: 0 0 0 #444;
    box-sizing: content-box;
    content: '';
    float: left;
    font-weight: bold;
    margin-right: 6px;
    background-color: #61bd1a;
    font-size: 16px;
}

div.container {
    max-width: 1200px;
}

.sorting_1:hover {
    cursor: pointer;
}

th {
    font-family: "Popular", Helvetica, Arial, sans-serif;
}

.gopSwatch {
    color: #7F1313;
    font-weight: 600;
}

.dflSwatch {
    color: #0B4C4C;
    font-weight: 600;
}

.pdaSwatch {
    color: #4DA64D;
    font-weight: 600;
}

.paydaySwatch {
    color: #D09361;
    font-weight: 600;
}

@media only screen and (max-width: 370px) {
    #yearChatter {
        height: 200px !important;
    }
}

@media only screen and (max-width: 650px) {
    #wrapper {
        width: 98%;
    }
    #yearChatter {
        height: 200px;
    }
}

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}


/* IE 6-8 fallback colors */

.leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
}

.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
}

.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
}

.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 30px;
}



@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* icons */

.geocoder-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    speak: none;
    background-repeat: no-repeat;
}

.geocoder-icon-search {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmVyc2lvbj0iMS4xIj4NCiAgPHBhdGggZD0iTTguNSA0QzYgNCA0IDYgNCA4LjUgNCAxMSA2IDEzIDguNSAxMyA5LjQgMTMgMTAuMiAxMi44IDEwLjggMTIuM0wxMC45IDEyLjMgMTQuMyAxNS43QzE0LjUgMTUuOSAxNC43IDE2IDE1IDE2IDE1LjYgMTYgMTYgMTUuNiAxNiAxNSAxNiAxNC43IDE1LjkgMTQuNSAxNS43IDE0LjNMMTIuMyAxMC45IDEyLjMgMTAuOEMxMi44IDEwLjIgMTMgOS40IDEzIDguNSAxMyA2IDExIDQgOC41IDR6TTguNSA1LjVDMTAuMiA1LjUgMTEuNSA2LjggMTEuNSA4LjUgMTEuNSAxMC4yIDEwLjIgMTEuNSA4LjUgMTEuNSA2LjggMTEuNSA1LjUgMTAuMiA1LjUgOC41IDUuNSA2LjggNi44IDUuNSA4LjUgNS41eiIgZmlsbD0iIzAwMCIvPg0KPC9zdmc+);
}

.geocoder-icon-close {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgdmVyc2lvbj0iMS4xIiBoZWlnaHQ9IjIwIiB3aWR0aD0iMjAiPg0KICA8cGF0aCBkPSJtNSA1IDAgMS41IDMuNSAzLjUtMy41IDMuNSAwIDEuNSAxLjUgMCAzLjUtMy41IDMuNSAzLjUgMS41IDAgMC0xLjUtMy41LTMuNSAzLjUtMy41IDAtMS41LTEuNSAwLTMuNSAzLjUtMy41LTMuNS0xLjUgMHoiIGZpbGw9IiMwMDAiLz4NCjwvc3ZnPg==);
}

.geocoder-icon-loading {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMjAgMjAiPjxwYXRoIGQ9Im0xMCAyIDAgMy4zYzIuNiAwIDQuNyAyLjEgNC43IDQuN2wzLjMgMGMwLTQuNC0zLjYtOC04LTh6IiBmaWxsPSIjMDAwIi8+PHBhdGggZD0iTTEwIDJDNi44IDIgMy43IDQuMSAyLjYgNy4xIDEuNCAxMCAyLjEgMTMuNiA0LjUgMTUuOGMyLjQgMi40IDYuNCAyLjkgOS40IDEuMiAyLjUtMS40IDQuMi00LjIgNC4yLTctMS4xIDAtMi4yIDAtMy4zIDAgMC4xIDIuMi0xLjcgNC4zLTMuOCA0LjZDOC43IDE1IDYuNCAxMy44IDUuNyAxMS43IDQuOCA5LjcgNS42IDcuMSA3LjYgNiA4LjMgNS42IDkuMSA1LjMgMTAgNS4zYzAtMS4xIDAtMi4yIDAtMy4zeiIgc3R5bGU9ImZpbGw6IzAwMDtvcGFjaXR5OjAuMiIvPjwvc3ZnPg==);
    -webkit-animation: rotate 400ms linear infinite;
    -moz-animation: rotate 400ms linear infinite;
    -ms-animation: rotate 400ms linear infinite;
    animation: rotate 400ms linear infinite;
}




/* PROJECT STYLES */

body {
    font-family: "Benton Sans";
}

#wrapper {
    margin-right:auto;
    margin-left:auto;
}

.myButton2 {
    background-color: #ddd;
    width: 13%;
}

.myButton2:hover {
    background-color: #5cbf2a !important;
}

.myButton2:active {
    background-color: #5cbf2a;
}

#chartBox0 {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}

.chart svg {
    width: 100%;
    height: 80px;
}

.wrapper-dropdown-1 {
    width: 100%;
}

.wrapper-demo {
    width: 100%;
}

.filterBreak {
    height: 7px;
    border-bottom: 1px solid #333;
    clear: both;
}

text {
    font-family: "Benton Sans" !important;
}

.nv-axisMaxMin {
    font-family: "Popular" !important;
}

.category {
    font-weight: 900;
    font-family: "Benton Sans";
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

.question {
    font-family: "Benton Sans";
    font-size: 1.3em;
    font-weight: 400;
}

.qhighlight {
    font-weight:900;
}

.card {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.year {
    display: inline-block;
    width: 15%;
    vertical-align: top;
}

.legendBlock {
    width: 12px;
    height: 12px;
    display: inline-block;
}

.legendText {
    display: inline-block;
    margin-right: 7px;
}

.adjacent {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: center;
}

.loadLink {
    color: steelblue !important;
}

.nvd3 .nv-axis {
    pointer-events: none;
    opacity: 1;
        text-align:left;
    margin-left:18px;
    display:inline-block;
    // display: none;
}

.chartLabel {
    text-align:left;
    margin-left:18px;
    display:none!important;
}

.loadLink:hover {
    color: black !important;
}

.legendBox {
    text-align: center;
    margin-bottom: 10px;
    width: 106%;
}

#bigResults {
    text-align: center;
    width: 100%;
    margin: 20px;
}

.icon img {
    width: 70px;
}

.icon {
    text-align: center;
visibility:hidden;
}

#selector {
    display: none;
}

.forNum {
    color: #00222D;
}

.againstNum {
    color: rgb(115, 115, 115);
}

#viewSwitches {
    width:97%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

.thisView {
    opacity:1 !important;
}

.switchIcon {
    opacity:0.5;
/*    width:48%;*/
    display:inline-block;
}

.switchIcon img {
    width:40px;
    padding:0;
}

.switchIcon:hover {
    cursor:pointer;
    opacity:1;
}

.smallbreaker {
    clear:both;
    padding:10px;
}



.bigNum {
    font-family: "Benton Sans" !important;
    text-align: center;
    font-weight: 900;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

#viewIcons {
    float:right;
    text-align:right;
}

#breakdownLabel {
    float:left !important;
    text-align:left !important;
    margin-left:106px;
    font-weight:900;
    font-size:2em;
}

.result {
    margin: 20px;
    display: inline-block;
    text-align: center;
    margin: 0;
    width: 40% !important;
    white-space: nowrap;
}

@media (max-width:800px) {
    #wrapper, .chart {
        width:100%;
    }
    .adjacent,
    #chartBox0 {
        display: block !important;
        width: 100% !important;
    }
}