/* PROJECT STYLES */
body,
p,
text,
td {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
}

#wrapper {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.map {
    display: inline-block;
    width: 48%;
    text-align: center;
}

.quantize {}

path:hover {
    cursor: default !important;
}

.hottest {
    fill: #a70518;
}


/*SWATCHES*/

.republican text {
    background-color: #bbb;
    fill: #8C1B17 !important;
    pointer-events: all;
    color: #8C1B17;
}

.republican line {
    background-color: #8C1B17;
    fill: #8C1B17 !important;
    stroke: #8C1B17 !important;
    pointer-events: all;
    color: #8C1B17;
}

.mid {
    background-color: #aaa;
    fill: #aaa !important;
    color: black !important;
    pointer-events: all;
    font-weight: bold;
}

.democrat text {
    background-color: #3F88C5;
    fill: #3F88C5 !important;
    pointer-events: all;
    color: #3F88C5;
}

.democrat line {
    background-color: #3F88C5;
    fill: #3F88C5 !important;
    stroke: #3F88C5 !important;
    pointer-events: all;
    color: #3F88C5;
}

.countyName {
    font-weight: bold;
}

.chart {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.chartTitle {
    text-align: left;
}

.chatter {
    text-align: left !important;
    font-size: 0.8em;
}

#compareChart .c3-line,
#dateChart .c3-line {
    stroke-width: 5px !important;
}

#compare {
    display: none !important;
}

.purple5 {
    fill: #4c1926;
    background-color: #4c1926;
    color: #ffffff;
}

.purple4 {
    fill: #693c46;
    background-color: #693c46;
    color: #ffffff;
}

.purple3 {
    fill: #865f67;
    background-color: #865f67;
    color: #ffffff;
}

.purple2 {
    fill: #a3858b;
    background-color: #a3858b;
    color: #ffffff;
}

.purple1 {
    fill: #C1ACB1;
    background-color: #C1ACB1;
}

.source {
    clear: both;
    text-align: left;
    padding-top: 5px;
}

.map {
    text-align: center;
}

#countyChart {
    height: 1200px;
}

.null {
    /*fill-opacity:0 !important;*/
    fill: #fff !important;
}

#mapPrecinct path,
#mapMetro path {
    pointer-events: none !important;
}

@media (max-width:520px) {
    #wrapper {
        width: 100%;
    }
    .map {
        display: block;
        width: 100%;
        text-align: center;
    }
    .quantize {
        padding-left: 72px;
    }
    .metro {
        display: none;
    }
}