/* PROJECT STYLES */
body {
    font-family: "Benton Sans";
}

.myButton2 {
    background-color: #ddd;
    width: 13%;
}

.myButton2:hover {
    background-color: #5cbf2a !important;
}

.myButton2:active {
    background-color: #5cbf2a;
}

#chartBox0 {
    width: 96%;
    clear: both;
    margin-bottom: 10px;
}

.chart svg {
    width: 100%;
    height: 35px;
}

.wrapper-dropdown-1 {
    width: 100%;
}

.wrapper-demo {
    width: 100%;
}

.filterBreak {
    height: 7px;
    border-bottom: 1px solid #333;
    clear: both;
}

text {
    font-family: "Benton Sans" !important;
}

.nv-axisMaxMin {
    font-family: "Popular" !important;
}

.category {
    font-weight: 900;
    font-family: "Benton Sans";
    font-size: 1em;
    text-align: center;
    margin-bottom: 10px;
    width: 113%;
}

.question {
    font-family: "Benton Sans";
    font-size: 1.3em;
    font-weight: 900;
}

.card {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.year {
    display: inline-block;
    width: 15%;
    vertical-align: top;
}

.legendBlock {
    width: 12px;
    height: 12px;
    display: inline-block;
}

.legendText {
    display: inline-block;
    margin-right: 7px;
}

.adjacent {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    text-align: center;
}

.loadLink {
    color: steelblue !important;
}

.loadLink:hover {
    color: black !important;
}

.legendBox {
    text-align: center;
    margin-bottom: 10px;
    width: 106%;
}

#bigResults {
    text-align: center;
    width: 100%;
    margin: 20px;
}

.result {
    display: inline-block;
    text-align: center;
    margin: 20px;
}

.icon img {
    width: 50px;
}

.icon {
    text-align: center;
    display: none;
}

#selector {
    display: none;
}

.forNum {
    color: #00222D;
}

.againstNum {
    color: #315F66;
}

.bigNum {
    font-family: 3em;
    font-family: "Benton Sans" !important;
    text-align: center;
    font-weight: 900;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.result {
    display: inline-block;
    text-align: center;
    margin: 0;
    width: 48%;
    white-space: nowrap;
}

@media (max-width:740px) {
    .adjacent,
    #chartBox0 {
        display: block !important;
        width: 100% !important;
    }
}